.container > div {

    padding: 10px;
    text-align: center;
    font-size: 2em;
    color:rgb(8, 8, 8);
    

}

html, body {
    background-color:chocolate;
}

.container > div:nth-child(1) {
    background-color: aqua;
}

.container > div:nth-child(2) {
    background-color: rgb(255, 208, 0);
}

.container > div:nth-child(3) {
    background-color: rgb(255, 0, 0);
}



.container {
    border: 5px solid rgb(0, 0, 0);
    display:flex;


}

.container .home {
    flex:2;
}
.container .logout{
    flex:2;
}