* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.parent {
    background-color: cyan;
    display:flex;
    padding: 20px;
    flex-wrap: wrap;
}

.child {
    background-color: coral;
    padding: 20px;
    flex: 0 1 auto; 

}

.child.three {
    flex: 0 0 1000px;
}

