.flex-container {
    display:flex;
}

.flex-container div {
    background: blueviolet;
    border: 4px solid black;
    height:100px;
    flex: 1 1 0%;
}

.flex-container .two {
    flex-shrink: 0;
}


